.footer {
    background-color: #eceffd;
}

.footer__container {
    padding-inline: 138px;
    padding-block: 82px 98px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__box1 .address {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 500;
    counter-reset: #2B2B2B;
}

.footer__box1 .phone {
    font-size: 1rem;
    font-weight: 500;
    color: #2B2B2B;
    margin-top: 48px;
}

.footer__box1 .email {
    font-size: 1rem;
    font-weight: 500;
    color: #2B2B2B;
    margin-top: 30px;
}

.footer__box1 .phone img,
.footer__box1 .email img {
    margin-right: 8px;
}

.footer__box h4 {
    font-size: 1.18rem;
    font-weight: 600;
    color: #0B090A;
}

.footer__box ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__box ul li a {
    color: #2B2B2B;
    font-size: 1rem;
    font-weight: 400;

}

.footer__box ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primare-color);
}


.footer__box4 .mail {
    margin-top: 20px;
    padding: 5px 5px 5px 20px;
    background-color: #fff;
    height: 60px;
    width: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 10px 20px hsla(0, 0%, 0%, 0.144)
}

.footer__box4 .mail .send__button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primare-color);
}

.footer__box4 .mail .send__button i {
    color: #fff;
    font-size: 30px;
}

.footer__box4 .mail #email {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #AAAAAA;
}

.footer__box4 .mail #email::placeholder {
    font-size: 1rem;
    color: #AAAAAA;
}

.footer__box4 h5 {
    margin-top: 32px;
    font-size: 1.18rem;
    font-weight: 600;
    color: #0B090A;
}

.footer__box4 .social__icon {
    margin-top: 30px;
}

.footer__box4 .social__icon a {
    color: var(--primare-color);
}

.footer__box4 .social__icon a i {
    font-size: 40px;
}

.secfooter {
    background-color: #0B090A;
}

.footer__black {
    padding: 20px 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__black p {
    font-size: 1rem;
    font-weight: 400;
    color: #AAAAAA;
}

.footer__black .links {
    display: flex;
    gap: 40px;
    align-items: center;

}

.footer__black .links a {
    color: #AAAAAA;
}

.footer__black .links a:hover {
    text-decoration: underline;
    text-decoration-color: #AAAAAA;
    text-decoration-thickness: 2px;
}




@media (max-width:480px) {
    .footer__container {
        padding-inline: 30px;
        text-align: center;
        justify-content: center;
        gap: 40px;
    }
    .footer__box1, .footer__box4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.footer__box2, .footer__box3 {
    display: none;
}
.footer__box1 .phone {
    margin-top: 30px;
}
.footer__box1 .email {
    margin-top: 20px;
}
.footer__black {
    padding-inline: 30px;
    justify-content: center;
    padding: 14px 17px;
}
.footer__black .links {
    display: none;
}
}